<h1 class="page-header">Editing Guest</h1>

<%= render 'form' %>

<%= link_to 'Back', guests_path, :type => "button", :class => "btn btn-danger" %> |
<%= link_to 'Show', @guest, :type => "button", :class => "btn btn-primary" %>