<h1 class="page-header">Editing User</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path, :type => "button", :class => "btn btn-danger" %> |
<%= link_to 'Show', @user, :type => "button", :class => "btn btn-primary" %>