<h1 class="page-header">Editing Event</h1>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

</br>

<%= link_to 'Back', events_path, :type => "button", :class => "btn btn-danger" %> |
<%= link_to 'Show', @event, :type => "button", :class => "btn btn-primary" %>